<footer th:fragment="footer">
	<script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../js/master-register.js" th:src="@{/js/master-register.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
</footer>