<nav th:fragment="menu" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion menuArea p-0" id="inv-nav-bar">
    <div class="container-fluid d-flex flex-column p-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation">
                <div th:if="${#strings.contains(session.menus,'__#{inventory}__')}" class="text-black">
                    <a class="btn menuArea" data-toggle="collapse" aria-expanded="true"
                        aria-controls="collapse-Inv" href="#collapse-Inv" role="button" id="TanaMenuBtn"></a>
                    <div class="collapse show" id="collapse-Inv">
                        <ul>
                            <li th:if="${#strings.contains(session.menus,'__#{securityCardInventory}__')}">
                            	<a th:href="@{/card-inventory}" id="MenuCardInventory" th:class="${#httpServletRequest.requestURI == '' ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{securityCardInventoryTitle}__"></span>
								</a>
                            </li>
                            <li th:if="${#strings.contains(session.menus,'__#{vpnDongleInventory}__')}">
                            	<a th:href="@{/vpn-inventory}" id="MenuVpnInventory" th:class="${#httpServletRequest.requestURI == '' ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{vpnDongleInventoryTitle}__"></span>
                            	</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div th:if="${#strings.contains(session.menus,'__#{administration}__')}" class="text-black">
                    <a class=" btn menuArea" data-toggle="collapse" aria-expanded="true"
                        aria-controls="collapse-Kanri" href="#collapse-Kanri" role="button"
                        id="KanriMenuBtn"></a>
                    <div class="collapse show" id="collapse-Kanri">
                        <ul>
                            <li th:if="${#strings.contains(session.menus,'__#{masterRegistration}__')}" th:class="${#strings.contains(#httpServletRequest.requestURI, '/master-registration') ? 'text-white' : ''}">
                            	<a th:href="@{/master-registration}" id="MenuMasterRegister" th:class="${#strings.contains(#httpServletRequest.requestURI, '/master-registration') ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{masterRegistrationTitle}__"></span></a>
                            </li>
                            <li th:if="${#strings.contains(session.menus,'__#{ledgerCreation}__')}" th:class="${#strings.contains(#httpServletRequest.requestURI, '/ledger') ? 'text-white' : ''}">
                            	<a th:href="@{/ledger}" id="MenuDaityoCreate" th:class="${#strings.contains(#httpServletRequest.requestURI, '/ledger') ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{ledgerCreationTitle}__"></span>
                            	</a>
                           	</li>
                            <li th:if="${#strings.contains(session.menus,'__#{inventoryRequest}__')}">
                            	<a th:href="@{/mail-send}" id="MenuMailSend" th:class="${#httpServletRequest.requestURI == '' ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{inventoryRequestTitle}__"></span>
                            	</a>
                            </li>
                            <li th:if="${#strings.contains(session.menus,'__#{monthlyClosing}__')}">
                            	<a th:href="@{/monthly-closing}" id="MenuMonthClose" th:class="${#httpServletRequest.requestURI == '' ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{monthlyClosingTitle}__"></span>
                            	</a>
                            </li>
                             <li th:if="${#strings.contains(session.menus,'__#{batchSchedule}__')}">
                            	<a href="@{batch-schedule}" id="MenuBatchSchedule" th:class="${#httpServletRequest.requestURI == '' ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{batchScheduleTitle}__"></span>
                            	</a>
                            </li>
                            <li th:if="${#strings.contains(session.menus,'__#{userPermission}__')}">
                            	<a th:href="@{/user-permission}" id="MenuUserSetting" th:class="${#httpServletRequest.requestURI == '' ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{userPermissionTitle}__"></span>
                            	</a>
                            </li>
                            <li th:if="${#strings.contains(session.menus,'__#{inventoryStatus}__')}">
                            	<a th:href="@{inventory-status}" id="MenuStatusConfirm" th:class="${#httpServletRequest.requestURI == '' ? 'text-white' : 'acctext'}">
                            	<span th:text="__#{inventoryStatusTitle}__"></span>
                            	</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>