a.acctext {
  font-size: small;
  color: black;
}

#acclist {
  color: black;
}
#TanaMenuBtn[aria-expanded=true]:after {
  content: "-棚卸";
}

#TanaMenuBtn[aria-expanded=false]:after {
  content: "+棚卸";
}

#KanriMenuBtn[aria-expanded=false]:after {
  content: "+管理者";
}

#KanriMenuBtn[aria-expanded=true]:after {
  content: "-管理者";
}


#logout {
  color: rgb(133,135,150);
}

#MyName {
  margin-bottom: 0px;
}

text-black {
  color: black;
}


.notCheck{
  background-color:#ffff00;
}

.text-black {
  color: black;
}


#dataTablediv {
  overflow: scroll;
}

td.deptName {
  min-width: 320px;
  white-space: normal;
}


option {
  color: black;
}

.searchbtn {
  min-width: 58px;
  max-width: 58px;
}

