<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common/head :: head(title='Employee Inv | VPN Inventory')"></head>


<body id="page-top">
<div id="wrapper">
    <div th:replace="base :: menu"></div>

    <div class="d-flex flex-column" id="content-wrapper-danger">
        <div th:replace="base :: header"></div>
        <div class="MainArea">
            <hr>
            <h3 class="text-black ml-2">VPNドングル棚卸</h3>
            <div style="max-width: none;">
                <div class="text-black" style="margin-left: 5%;">
                    <p></p>
                </div>
            </div>
            <hr>
        </div>
        <div id="dataTable">
            <div class="card shadow d-flex">
                <div class="card-body text-black">
                    <form>
                        <div class="form-row">
                            <div class="col-md-2 col-lg-2 col-xl-2 d-inline-flex align-items-xl-center"><label
                                    class="text-nowrap mr-2" for="selectedMonth">対象年月</label><select
                                    class="form-control" name="selectedMonth">
                                <option value="2019年10月">2019年10月</option>
                                <option value="2019年11月">2019年11月</option>
                                <option value="2019年12月" selected="">2019年12月</option>
                                <option value="2020年1月">2020年1月</option>
                                <option value="2020年2月">2020年2月</option>
                            </select></div>
                            <div class="col-md-4 col-lg-4 col-xl-4 text-nowrap d-inline-flex align-items-xl-center">
                                <label class="mr-2" for="selectedDept">所属</label><select class="form-control"
                                                                                         name="selectedDept">
                                <option value="テスト事業本部デフォルト部">テスト事業本部デフォルト部</option>
                                <option value="テスト事業本部デフォルト部テストA課" selected="">テスト事業本部デフォルト部テストA課</option>
                                <option value="テスト事業本部デフォルト部テストB課">テスト事業本部デフォルト部テストB課</option>
                                <option value="テスト事業本部デフォルト部テストC課">テスト事業本部デフォルト部テストC課</option>
                            </select></div>
                            <div
                                    class="col-md-1 col-lg-1 col-xl-1 offset-md-5 offset-lg-5 offset-xl-5 d-md-flex d-lg-flex d-xl-flex justify-content-md-end justify-content-lg-end justify-content-xl-end">
                                <div><input class="form-control btn btn-primary searchbtn" type="submit" value="検索">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive table-bordered text-nowrap table mt-2" role="grid"
                         aria-describedby="dataTable_info" overflow-x="scroll" id="dataTableTable">
                        <table class="table table-bordered table-hover dataTable my-0 text-black"
                               id="dataTableTable">
                            <thead class="bg-light">
                            <tr>
                                <th></th>
                                <th>所属</th>
                                <th>氏名</th>
                                <th>管理番号</th>
                                <th>証明書有効期限</th>
                                <th>トークン返却日</th>
                                <th>現物確認者</th>
                                <th>確認日</th>
                                <th>承認者</th>
                                <th>確認日</th>
                                <th>備考</th>
                                <th>確認</th>
                                <th>承認</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 一郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse1234</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser">山田太郎</td>
                                <td class="AppDate">2020/02/03 12:00</td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox" checked></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 二郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse2222</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser">鈴木太郎</td>
                                <td class="ChkDate">2020/02/03 12:00</td>
                                <td class="AppUser"></td>
                                <td class="AppDate"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox" checked></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary" type="button">編集</button></td>
                                <td class="UserName">田中 三郎</td>
                                <td class="deptName">テスト事業本部デフォルト部テストA課<br></td>
                                <td class="manageNum">nttd-mse3333</td>
                                <td class="effectiveDate">2020/1/30</td>
                                <td class="returnDate">1/30返却予定</td>
                                <td class="ChkUser notCheck"></td>
                                <td class="ChkDate notCheck"></td>
                                <td class="AppUser notCheck"></td>
                                <td class="AppDate notCheck"></td>
                                <td class="notes">備考メモメモメモ</td>
                                <td class="confirm"><input disabled type="checkbox"></td>
                                <td class="approve"><input type="checkbox"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div
                                class="col-sm-12 col-md-12 col-lg-5 col-xl-5 d-inline-flex d-print-inline-flex d-md-inline-flex d-lg-inline-flex d-xl-inline-flex align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center">
                            <nav
                                    class="d-lg-flex justify-content-lg-start justify-content-xl-start dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#"><span
                                            aria-hidden="true">&lt;&lt;</span></a></li>
                                    <li class="page-item disabled"><a class="page-link" href="#"><span
                                            aria-hidden="true">&lt;</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><span
                                            aria-hidden="true">&gt;</span></a></li>
                                    <li class="page-item"><a class="page-link" href="#" <span
                                            aria-hidden="true">&gt;&gt;</span></a></li>
                                    <li class="page-item disabled mt-2"><span></span>(31-60/170)</span></li>
                                </ul>
                            </nav>
                        </div>
                        <div
                                class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-lg-1 offset-xl-1 justify-content-xl-end">
                            <div class="row">
                                <div class="col d-md-flex d-lg-flex justify-content-md-end justify-content-lg-end">
                                    <input type="submit" class="btn btn-primary mr-2" value="保存">
                                    <input type="reset" class="btn btn-primary mr-2" value="クリア">
                                    <input type="submit" class="btn btn-primary mr-2" value="承認">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></div>
</body>

</html>