<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reminder.title}">Inventory Request Reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<p th:text="#{email.reminder.greeting(${user.firstName})}">
    Dear
</p>
<p th:text="#{email.reminder.text1}">
    Your Inventory has been created. Please check and confirm.
</p>

<p>
    <span th:text="#{email.regards}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">HR Team.</em>
</p>
</body>
</html>
